<div *ngIf="this.hero">
    <div class="hero-additional-info">
        <label for="name">name: </label>
        <input id="name" type="text" [(ngModel)]="this.hero.name">
    </div>
    <div class="hero-additional-info">
        <label for="age">age: </label>
        <input if="age" type="text" [(ngModel)]="this.hero.age">
    </div>
    <div class="hero-additional-info">
        <input type="button" (click)="saveChanges(this.hero)" value="update info" />
    </div>
    <div class="hero-additional-info">
        <input type="button" (click)="goBack()" value="go back" />
    </div>
</div>